.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../../../image/CloseIcon.svg);
  background-color: transparent;
  background-size: cover;
  transition: opacity 0.5s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .popup__close-button {
    right: 0;
    width: 20px;
    height: 20px;
  }
}
