.footer__copyright {
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

@media (min-width: 700px) {
	.footer__copyright {
		font-size: 18px;
		line-height: 22px;
	}
}
