.search__button {
	padding: 0;
	border: none;
	border-radius: 4px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.search__button:hover {
	opacity: 0.6;
	cursor: pointer;
}