.search__quantity {
	margin: 0;
	padding-bottom: 2px;
	box-sizing: border-box;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	justify-content: center;
	gap: 10px;
}

@media (min-width: 360px) {
	.search__quantity {
		grid-column-end: 4;
	}
}
