.card {
	margin-bottom: 50px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 20px;
}

@media (min-width: 600px) {
	.card {
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
		column-gap: 17px;
	}
}

@media (min-width: 1000px) {
	.card {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
