.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
